<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{layout :: base(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center text-primary">Nosotros</h1>
        <br>
        <p class="text-muted text-center">
            Descubre nuestra Academia Educativa, te invitamos a explorar la esencia y valores que impulsan nuestra Academia Educativa. Desde nuestros apasionados educadores hasta nuestra misión de cultivar el aprendizaje significativo, aquí podrás conocer el equipo que da vida a nuestra visión educativa. Sumérgete en nuestra historia, filosofía y compromiso con la excelencia académica mientras te damos la bienvenida a la comunidad que inspira el crecimiento y el conocimiento.
        </p>    
    </div>

</body>
</html>