<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:replace="${titulo}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:fragment="header">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" th:href="@{/}">Alan Turing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/nosotros}">Nosotros  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/alumnos}">Alumnos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/docentes}">Docentes </a>
                </li>
                <li class="nav-item">
                  <div sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                      <a id="login" class="nav-link" th:href="@{/login}">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" th:href="@{/registrar}">Registrate!</a>
                  </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button>Logout</button>
                    </form>
                </div>
                </li>
              </ul>
            </div>
          </nav>
    
    <div th:fragment="footer">  
      <div class="container"> 
        <div style="display:flex;justify-content: center;align-items: center;">
            <div>  
              <br>
              <br>
              <br>
              <br>
              <br>
        <footer style="justify-content: center;">
                Copyright © <span th:text="${year}"></span>
        </footer> 
      </div>
    </div>
    </div>
    </div>
    

    <div th:fragment="publicidad">
        <br>
        <p></p>
        <br>
    </div>
</body>