<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{layout :: base(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Docente</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center text-primary">Registrar Docente</h1>
        
    </div>
    <br>
    <br>
    
    <div class="container"> 
        <div style="display: flex;justify-content: center;align-items: center;">
    <form th:action="@{/docentes}" method="post" th:object="${docenteForm}">
        <div>
            <label for="NomCompletoDocente">Nombre</label>
            <input id="NomCompletoDocente" type="text" th:field="*{NomCompletoDocente}">
        </div>
        <div>
            <label for="IdCurso">Id_Curso</label>
            <input id="IdCurso" type="number" th:field="*{IdCurso}">
        </div>
        <div>
            <label for="DireccionDocente">Direccion_Docente</label>
            <input id="DireccionDocente" type="text" th:field="*{DireccionDocente}">
        </div>
        <div>
            <label for="TelefDocente">Telefono_Docente</label>
            <input id="TelefDocente" type="number" th:field="*{TelefDocente}">
        </div>
        <br>
        <button class="btn btn-primary">Registrar</button>

    </form>
</div>
</div>
    
</body>
</html>